<div class="playlist">
    <h2>Music Playlists</h2>
    <ul>
      <li *ngFor="let g of genre">
        <div class="song-info">
          <img [src]="g.imageURL" style="max-width: 900px; max-height: 200px; margin-right: 20px;" alt="{{ g.title }} Album Art">
          <div class="details">
            <h3>{{ g.title }}</h3>
            <p>{{ g.link}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="profile-actions">
    <button routerLink="/dashboard" style=" font-size: 16px;">Return to Dashboard</button>
  </div>