<div class="payment-content">
    <h2>Credit Card Payment</h2>
    <label>Card Holder's Name: </label>
    <input type="text" placeholder="Name"> <br>
    <label>Card Number: </label>
    <input type="text" placeholder="Number"> <br>
    <label>Card Exp. Date: </label>
    <input type="text" placeholder="DD/MM/YYYY"><br>
    <label>Amount: </label>
    <input type="text" placeholder="Amount in $"> <br>
    <div class="button-container">
        <button type="reset">Cancel</button>
        <button type="submit">Submit</button>
    </div>
</div>

<div class="profile-actions">
    <button routerLink="/dashboard" style=" font-size: 18px;">Return to Dashboard</button>
  </div>