
  <div class="content-container">
    <p>Listen to your favorite music anytime, anywhere!</p>
  </div>


<div class="dashboard-actions">
  <button routerLink="/profile">View profile</button>
  <button routerLink="/about">About</button>
  <button routerLink="/search">Search Music</button>
  <button routerLink="/music-player">Music Player</button>
  <button routerLink="/premium-membership">Buy Premium</button>
  <button routerLink="/settings">Settings</button>
  <button routerLink="/artist-list">Artists</button>
  <button routerLink="/playlist">Playlist</button>
  <button routerLink="/song-list">Songlist</button>
  <button routerLink="/artists">ArtistInfo</button>
  <button routerLink="/helpline">Helpline</button>
</div>

